body {
    background: #B8B8B8;
}

.container {
    width: 400px;
    margin: auto;
    border-radius: 10px;
    background: #fffff0;
    font-family: 'Roboto';
}

.flat-form {
    width: auto;
    height: 340px;
    margin: auto;
    position: relative;
}

.top-stripe {
    height: 45px;
    border-radius: 10px 10px 0 0;
    background: #003049;
}

.top-stripe h1 {
    color: #b0916c;
    text-transform: uppercase;
    font-family: "Andale Mono", AndaleMono, monospace;
    font-weight: bold;
}

.container-content ul {
    list-style-type: none;
    display: inline;
}

form input[type=text], 
form input[type=password], 
form input[type=submit] {
    font-family: "Andale Mono", AndaleMono, monospace;
}

input[type=text], 
input[type=password] {
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    background: #E0E0E0;
    border: none;
    color: #003049;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
}

input[type=submit] {
    background: #002649;
    color: #b0916c;
    height: 40px;
    width: 70px;
    padding: 0;
    margin-left: 240px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.button:hover {
    background: #003261;
}


