/* Georgia Tech */
$navy_blue='#003049';
$metalic_gold='#947550';
$white='#fff';
$grey='#989898';

body {
    background-color: #fff380;
    margin: auto;
    border-radius: 5px;
    position: relative;
    width: 100%;
    height: 100%;
}
.flat-form {
    background: #fff380;
    width: 390px;
    border-radius: 10px;
    height: 340px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.top-stripe{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #003049;
    height: 45px;
}
.top-stripe h1{
    color: #ffffff;
}
.top-stripe ul{
    list-style-type: none;
}

form {
    padding-right: 50px;
    outline: none;
    margin: 0;
}
form input[type=text],
form input[type=password],
form input[type=submit] {
    font-family: 'Roboto';
}

form input[type=text],
form input[type=password] {
    padding-left: 5%;
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
    border: none;
    color: #000000;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
}
.button {
    border: none;
    display: block;
    background: #136899;
    height: 40px;
    width: 80px;
    color: #ffffff;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0px 3px 1px #2075aa;
    -webkit-transition: all 0.15s linear;
      -moz-transition: all 0.15s linear;
      transition: all 0.15s linear;
}
.button:hover {
    background: #1e75aa;
    box-shadow: 0 3px 1px #237bb2;
}

.button:active {
    background: #136899;
    box-shadow: 0 3px 1px #0f608c;
}

